/* Layout for search container */
.search {
	position: absolute;
	left: 10px;
	bottom: 10px;
    width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
    padding: 0.5em;
    /*background: black;*/
}

.js .search {
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}

.btn--search-close {
	font-size: 1.5em;
	position: absolute;
	top: 1.25em;
	right: 1.25em;
	display: none;
}

.js .btn--search-close {
	display: block;
}

.terminal__line {
	line-height: 0.75rem;
	overflow: hidden;
	height: 0;
	margin: 0;
    padding: 0;
    white-space: nowrap;
	color: lightgreen;
	font-family: 'VT323', monospace;
	font-size: 2.3vw;
}

.terminal__line::before {
	content: 'CPO> ';
}

.search__form::before {
	content: '>';
}

.search__input {
	font-family: inherit;
	line-height: 1;
	display: inline-block;
	box-sizing: border-box;
	padding: 0.05em 0;
	color: #fff;
}

.search__input::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: #4a319e;
}

.search__input::-moz-placeholder {
	opacity: 1;
	/* Mozilla Firefox 19+ */
	color: #4a319e;
}

.search__input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #4a319e;
}

.search__input::-webkit-search-cancel-button,
.search__input::-webkit-search-decoration {
	-webkit-appearance: none;
}

.search__input::-ms-clear {
	display: none;
}

/************************/
/* Transitions 			*/
/************************/

.js .main-wrap {
	transition: opacity 0.3s;
}

.js .main-wrap--hide {
	pointer-events: none;
	opacity: 0;
}

.js .main-wrap--move .btn--search {
	pointer-events: none;
	opacity: 0;
}

.search {
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.3s;
}

.search--open {
	/*pointer-events: auto;*/
    opacity: 1;
}

/* Type animation by Lea Verou http://lea.verou.me/2012/02/simpler-css-typing-animation-with-the-ch-unit/ */
@keyframes typing {
	from {
		width: 0;
	}
}

@keyframes scaleUp {
	from {
		height: 0;
	} to {
		height: 1em;
	}
}

/* Close button */
.btn--search-close {
	opacity: 0;
	transition: opacity 0.5s;
}

.search--open .btn--search-close {
	opacity: 1;
}

/* Search form with input and description */

.js .search__form {
	opacity: 0;
}

.search--open .search__form {
	opacity: 1;
	transition: opacity 0.3s 3.35s;
}

@media screen and (max-width: 40em) {
	.btn--search-close {
		font-size: 1.25em;
	}
	.search {
		padding: 0.5em;
	}
}

/* DEMO */
.main-wrap {
    position: absolute;
    top:0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-color: #22295f;
	background-color: #000;
	/*background-image: url(../images/bg.svg);*/
	/*background-repeat: no-repeat;
	background-position: 50% 10em;
	background-size: 75% auto;*/
}


/* Reset Search Input */

.search__input {
	border: 0;
	background: transparent;
	border-radius: 0;
	-webkit-appearance: none;
}

.search__input:focus {
	outline: none;
}

/* Icons */

.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

/* Top Navigation Style */

.codrops-links {
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
}

.codrops-links::after {
	content: '';
	position: absolute;
	top: 15%;
	left: 50%;
	width: 2px;
	height: 70%;
	opacity: 0.1;
	background: currentColor;
	transform: rotate3d(0, 0, 1, 22.5deg);
}

.codrops-icon {
	display: inline-block;
	margin: 0.5em;
	padding: 0.5em;
}

@media screen and (max-width: 40em) {
	.codrops-header {
		display: block;
		padding: 4em 1em 0;
		text-align: center;
	}
	.codrops-header__side {
		margin: 0 auto;
	}
	.codrops-links {
		font-size: 0.85em;
		margin: 0 auto;
	}
	.search-wrap {
		font-size: 0.85em;
		position: absolute;
		top: 2.15em;
		right: 2em;
	}
	.bottom-nav {
        padding: 0.5em;
        z-index: 1000;
	}
	.codrops-demos {
		text-align: center;
	}
	.codrops-demos a {
		margin-bottom: 1em;
	}
	.codrops-demos span {
		display: block;
		margin: 0 auto 1em;
		text-align: center;
	}
}