/* Layout for search container */
.search {
    width: 45%;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
    padding: 0.5em;
    background: black;
    box-sizing: border-box;
    margin: 5% auto;
    border-radius: 10px;
}

.js .search {
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}

.btn--search-close {
	font-size: 1.5em;
	position: absolute;
	top: 1.25em;
	right: 1.25em;
	display: none;
}

.js .btn--search-close {
	display: block;
}

.terminal__line {
	line-height: 0.75;
	overflow: hidden;
	height: 0;
	margin: 0;
    white-space: nowrap;
	color: lightgreen;
	font-family: 'VT323', monospace;
	font-size: 2vw;
}

.terminal__line::before {
	content: 'CPO> ';
}

.search__form::before {
	content: '>';
}

.search__input {
	font-family: inherit;
	line-height: 1;
	display: inline-block;
	box-sizing: border-box;
	padding: 0.05em 0;
	color: #fff;
}

.search__input::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: #4a319e;
}

.search__input::-moz-placeholder {
	opacity: 1;
	/* Mozilla Firefox 19+ */
	color: #4a319e;
}

.search__input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #4a319e;
}

.search__input::-webkit-search-cancel-button,
.search__input::-webkit-search-decoration {
	-webkit-appearance: none;
}

.search__input::-ms-clear {
	display: none;
}

/************************/
/* Transitions 			*/
/************************/

.js .main-wrap {
	transition: opacity 0.3s;
}

.js .main-wrap--hide {
	pointer-events: none;
	opacity: 0;
}

.js .main-wrap--move .btn--search {
	pointer-events: none;
	opacity: 0;
}

.search {
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.3s;
}

.search--open {
	/*pointer-events: auto;*/
    opacity: 1;
}

/*
.search--open .terminal__line:first-child {
	width: 19ch;
}
.search--open .terminal__line:nth-child(2){
	width: 30ch;
}
.search--open .terminal__line:nth-child(3) {
	width: 50ch;
}
.search--open .terminal__line:nth-child(4) {
	width: 25ch;
}
.search--open .terminal__line:nth-child(5) {
	width: 42ch;
}
.search--open .terminal__line:nth-child(6) {
	width: 77ch;
}
.search--open .terminal__line {
	animation: typing 1s steps(30, end), scaleUp 0.1s forwards;
}
.search--open .terminal__line:first-child {
	animation-timing-function: steps(19, end), ease;
}
.search--open .terminal__line:nth-child(2) {
    animation-delay: 2s;
    animation-duration: 1.5s, 0.1s;
	animation-timing-function: steps(30, end), ease;
}
.search--open .terminal__line:nth-child(3) {
    animation-delay: 3.5s;
    animation-duration: 2.50s, 0.1s;
	animation-timing-function: steps(50, end), ease;
}
.search--open .terminal__line:nth-child(4) {
    animation-delay: 6.0s;
	animation-duration: 1.25s, 0.1s;
	animation-timing-function: steps(25, end), ease;
}
.search--open .terminal__line:nth-child(5) {
    animation-delay: 7.25s;
	animation-duration: 2.10s, 0.1s;
	animation-timing-function: steps(42, end), ease;
}
.search--open .terminal__line:nth-child(6) {
    animation-delay: 9.35s;
	animation-duration: 3.85s, 0.1s;
	animation-timing-function: steps(76, end), ease;
}
*/

/* Type animation by Lea Verou http://lea.verou.me/2012/02/simpler-css-typing-animation-with-the-ch-unit/ */
@keyframes typing {
	from {
		width: 0;
	}
}

@keyframes scaleUp {
	from {
		height: 0;
	} to {
		height: 1.5em;
	}
}

/* Close button */
.btn--search-close {
	opacity: 0;
	transition: opacity 0.5s;
}

.search--open .btn--search-close {
	opacity: 1;
}

/* Search form with input and description */

.js .search__form {
	opacity: 0;
}

.search--open .search__form {
	opacity: 1;
	transition: opacity 0.3s 3.35s;
}

@media screen and (max-width: 40em) {
	.btn--search-close {
		font-size: 1.25em;
	}
	.search {
		padding: 0.5em;
	}
}

/* DEMO */
.main-wrap {
    position: absolute;
    top:0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-color: #22295f;
	background-color: #000;
	/*background-image: url(../images/bg.svg);*/
	/*background-repeat: no-repeat;
	background-position: 50% 10em;
	background-size: 75% auto;*/
}

/* Buttons */

.btn {
	margin: 0;
	padding: 0;
	cursor: pointer;
	border: none;
	background: none;
	font-size: 40px;
}

.btn:focus {
	/*outline: none;*/
}

.btn--search {
	font-size: 1.5em;
}

.btn--hidden {
	pointer-events: none;
	opacity: 0;
}


/* Reset Search Input */

.search__input {
	border: 0;
	background: transparent;
	border-radius: 0;
	-webkit-appearance: none;
}

.search__input:focus {
	outline: none;
}


/* Links */

.btn {
	text-decoration: none;
	color: lightgreen;
	outline: none;
	margin:10px;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}


/* Icons */

.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}


/* Header */

/*.codrops-header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	padding: 2.5em 2.75em 2.5em 1.5em;
	text-align: left;
}
.codrops-header__title {
	font-size: 1em;
	margin: 0;
	padding: 0 0.75em;
}
.codrops-header__side,
.search-wrap {
	margin: 0 0 0 auto;
}*/


/* Bottom nav */

.bottom-nav {
	display: inline-block;
	position: relative;
	width: 100%;
	margin: 100px 0 0 0;
	padding: 2.5em 2.75em 2.5em 2em;
}

.image-nav {
	position: absolute;
	top: 25%;
	left: 75%;
	padding: 2em;
}


/* Demo links */
/*
.codrops-demos {
	font-weight: bold;
	padding: 1.25em 0;
	text-align: right;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
}
.codrops-demos span {
	display: inline-block;
	margin: 0 1em 0 0;
	vertical-align: bottom;
}
.codrops-demos a {
	position: relative;
	display: inline-block;
	margin: 0 0.1em;
	padding: 0 0.4em;
}
.codrops-demos a.current-demo::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2.25em;
	height: 2.25em;
	margin: -1.125em 0 0 -1.125em;
	border: 2px solid;
	border-radius: 50%;
}*/


/* Top Navigation Style */

.codrops-links {
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
}

.codrops-links::after {
	content: '';
	position: absolute;
	top: 15%;
	left: 50%;
	width: 2px;
	height: 70%;
	opacity: 0.1;
	background: currentColor;
	transform: rotate3d(0, 0, 1, 22.5deg);
}

.codrops-icon {
	display: inline-block;
	margin: 0.5em;
	padding: 0.5em;
}

@media screen and (max-width: 40em) {
	.codrops-header {
		display: block;
		padding: 4em 1em 0;
		text-align: center;
	}
	.codrops-header__side {
		margin: 0 auto;
	}
	.codrops-links {
		font-size: 0.85em;
		margin: 0 auto;
	}
	.search-wrap {
		font-size: 0.85em;
		position: absolute;
		top: 2.15em;
		right: 2em;
	}
	.bottom-nav {
        padding: 0.5em;
        z-index: 1000;
	}
	.codrops-demos {
		text-align: center;
	}
	.codrops-demos a {
		margin-bottom: 1em;
	}
	.codrops-demos span {
		display: block;
		margin: 0 auto 1em;
		text-align: center;
	}
}